Source: libmali-zynqmp
Priority: optional
Homepage: <https://github.com/ikwzm/libmali-zynqmp>
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), dh-exec, pkg-config, cmake, cross-config
Standards-Version: 3.9.5
Section: libs

Package: libmali-zynqmp
Section: libs
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: ZynqMP GPU(ARM Mali-400) User Space Libraries

Package: libmali-zynqmp-dev
Section: libdevel
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, libmali-zynqmp
Multi-Arch: same
Description: ZynqMP GPU(ARM Mali-400) User Space Libraries -- development files

Package: libegl1-zynqmp
Section: libs
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, libmali-zynqmp
Multi-Arch: same
Provides: libegl1, libegl1-mesa
Replaces: libegl1, libegl1-mesa
Description: ZynqMP GPU(ARM Mali-400) GL dispatch library -- EGL support

Package: libegl1-zynqmp-dev
Section: libdevel
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, libegl1-zynqmp
Multi-Arch: same
Provides: libegl1-mesa-dev
Replaces: libegl1-mesa-dev
Description: ZynqMP GPU(ARM Mali-400) EGL API -- development files

Package: libgles1-zynqmp
Section: libs
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, libmali-zynqmp
Multi-Arch: same
Provides: libgles1, libgles1-mesa
Replaces: libgles1, libgles1-mesa
Description: ZynqMP GPU(ARM Mali-400) GL dispatch library -- GLESv1 support

Package: libgles1-zynqmp-dev
Section: libdevel
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, libgles1-zynqmp
Multi-Arch: same
Provides: libgles1-mesa-dev
Replaces: libgles1-mesa-dev
Description: ZynqMP GPU(ARM Mali-400) GLESv1 API -- development files

Package: libgles2-zynqmp
Section: libs
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, libmali-zynqmp
Multi-Arch: same
Provides: libgles2, libgles2-mesa
Replaces: libgles2, libgles2-mesa
Description: ZynqMP GPU(ARM Mali-400) GL dispatch library -- GLESv2 support

Package: libgles2-zynqmp-dev
Section: libdevel
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, libgles2-zynqmp
Multi-Arch: same
Provides: libgles2-mesa-dev
Replaces: libgles2-mesa-dev
Description: ZynqMP GPU(ARM Mali-400) GLESv2 API -- development files

Package: libgbm1-zynqmp
Section: libs
Priority: extra
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends} libmali-zynqmp
Multi-Arch: same
Provides: libgbm1
Replaces: libgbm1
Description: ZynqMP GPU(ARM Mali-400) Generic Buffer Management API -- runtime

Package: libgbm-zynqmp-dev
Section: libdevel
Priority: extra
Architecture: arm64
Depends: ${misc:Depends} libgbm1-zynqmp
Multi-Arch: same
Provides: libgbm-dev
Replaces: libgbm-dev
Description: ZynqMP GPU(ARM Mali-400) Generic Buffer Management API -- development files

