Source: libmali-zynqmp
Priority: optional
Homepage: <https://github.com/ikwzm/libmali-zynqmp>
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), dh-exec, pkg-config, cmake, cross-config
Standards-Version: 3.9.5
Section: libs

Package: libmali-zynqmp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Multi-Arch: same
Provides: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
#Conflicts: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Replaces: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Description: The mali library for Zynqmp(Mali-400).
 .
 This package provides the development environment for compiling programs
 against the GBM library.

Package: libmali-zynqmp
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Provides: libegl1-mesa, libegl1    , libgles2-mesa, libgbm1
Replaces: libegl1-mesa, libegl1-x11, libgles2-mesa, libgbm1
Description: The mali library for Zynqmp(Mali-400).
